### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#totals can be counted in multiple ways.  for school names you only need unique school names.  for students you need to count the unique students.
#for students there is one row for each student.  for budget you need to sum the budget.  
# activities to refer to are all on Day 1 activity 5 and 6.
#percentage pass rate syntax:
#############variable=df[(df['column_name'] >= value).count()/df.count()


# The summary dataframe would be setup like the on in Day 1 activity 11.

In [5]:
# count of unique schools
schools_unique = school_data_complete["school_name"].nunique()
print(type(schools_unique))

# count of total students
student_count = school_data_complete["Student ID"].nunique()
print(student_count)

budget = school_data["budget"].sum()
print(budget)

avg_math = school_data_complete["math_score"].mean()
print(avg_math)

avg_reading = school_data_complete["reading_score"].mean()
print(avg_reading)


# Percent passed - math
count_variable=student_data[(student_data['math_score'] >= 70)].count()['student_name']
percentage_passed_math=count_variable/student_data.count()['student_name'] 
print(round(percentage_passed_math*100,2)) 

# Percent passed - reading
count_variable=student_data[(student_data['reading_score'] >= 70)].count()['student_name']
percentage_passed_reading=count_variable/student_data.count()['student_name'] 
print(round(percentage_passed_reading*100,2))

<class 'int'>
39170
24649428
78.98537145774827
81.87784018381414
74.98
85.81

In [7]:


schools_unique = school_data_complete["school_name"].nunique()
schools_unique

# count of total students
student_count = school_data_complete["Student ID"].nunique()
print(student_count)

budget = school_data["budget"].sum()
print(budget)

avg_math = school_data_complete["math_score"].mean()
print(avg_math)

avg_reading = school_data_complete["reading_score"].mean()
print(avg_reading)


# Percent passed - math
count_variable=student_data[(student_data['math_score'] >= 70)].count()['student_name']
percentage_passed_math=count_variable/student_data.count()['student_name'] 
print(round(percentage_passed_math*100,2)) 

# Percent passed - reading
count_variable=student_data[(student_data['reading_score'] >= 70)].count()['student_name']
percentage_passed_reading=count_variable/student_data.count()['student_name'] 
print(round(percentage_passed_reading*100,2))

# Percent passed - overall
# passed_both = ((student_data["math_score"] >=70) == True & (student_data["reading_score"] >= 70) == True).count()
math_reading_passed = ((student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70))
percent_passed_overall = round((sum(math_reading_passed)/student_count*100),2)
print(percent_passed_overall)

39170
24649428
78.98537145774827
81.87784018381414
74.98
85.81
65.17

In [8]:
summary_df = pd.DataFrame({"Total Schools": [schools_unique],
                              "Total Students": [student_count],
                              "Total Budget": [budget],
                              "Average Math Score": [avg_math],
                              "Average Reading Score": [avg_reading],
                              "% Passing Math": [percentage_passed_math],
                              "% Passing Reading": [percentage_passed_reading],
                              "% Overall Passing": [percent_passed_overall]})
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [52]:
# school_sum1_df = school_data_complete[""]


# df = school_data_complete[["school_name", "budget"]]
school_sum1_df = df.set_index("school_name")
school_budget_df = school_data.groupby(["school_name"])["budget"].sum()
print(school_budget_df.head())

school_total_students_df = student_data.groupby(["school_name"])["student_name"].count()
print(school_total_students_df.head())

avg_math_school = school_data_complete.groupby(["school_name"])["math_score"].mean()
print(avg_math_school.head())

# avg_reading = school_data_complete["reading_score"].mean()
# print(avg_reading)

# per_student_df = school_budget_df["budget"]/school_total_students_df["student_name"].count()

school_name
Bailey High School      3124928
Cabrera High School     1081356
Figueroa High School    1884411
Ford High School        1763916
Griffin High School      917500
Name: budget, dtype: int64
school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: student_name, dtype: int64
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [ ]:
#it will be helpful to set_index to (["school_name"])["type"]
#to get these calculations you are going to use a number of methods
# value_counts (day 2 activity 3), groupby (day 2 activity 6&7), mean()(day 1 activity 5&6)
# you will also have to do math on columns; for example:
###################variable=df['column_name']*df['column_name']###############

# to filter the data to get passing students you will need to use loc to filter (day 2 activity 1)


# the summary dataframe would be setup like the on in Day 1 activity 11.

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
# This is just a sort in the right direction. (Day 2 activity 8)

In [ ]:

top_by_overall_df = school_data_complete.sort_values("fdaf")
top_by_overall_df.head()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
#same as previous cell

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
# use loc to filter by grade
# get the average MATH score for each grade level
# create summary dataframe, simalar to above.

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# use loc to filter by grade
# get the average READING score for each grade level
# create summary dataframe, similar to above.

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
#create bins and labels (use the example for your labels) (day 3 activity 3)

#calculate averages grouping by your bin column (day 3 activity 4)
#############variable=df.groupby(['bin_column']).mean()['specific_column']###############

#create summary dataframe as above.

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
#create bins and labels (use the example for your labels) (day 3 activity 3)

#calculate averages grouping by your bin column (day 3 activity 4)
#############variable=df.groupby(['bin_column']).mean()['specific_column']###############

#create summary dataframe as above.

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
#create bins and labels (use the example for your labels) (day 3 activity 3)

#calculate averages grouping by your bin column (day 3 activity 4)
#############variable=df.groupby(['bin_column']).mean()['specific_column']###############

#create summary dataframe as above.