### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# count of unique schools
schools_unique = school_data_complete["school_name"].nunique()
print(type(schools_unique))

# count of total students
student_count = school_data_complete["Student ID"].nunique()
print(student_count)

budget = school_data["budget"].sum()
print(budget)

avg_math = school_data_complete["math_score"].mean()
print(avg_math)

avg_reading = school_data_complete["reading_score"].mean()
print(avg_reading)

# Percent passed - math
count_variable=student_data[(student_data['math_score'] >= 70)].count()['student_name']
percentage_passed_math=count_variable/student_data.count()['student_name'] 
print(round(percentage_passed_math*100,2)) 

# Percent passed - reading
count_variable=student_data[(student_data['reading_score'] >= 70)].count()['student_name']
percentage_passed_reading=count_variable/student_data.count()['student_name'] 
print(round(percentage_passed_reading*100,2))

<class 'int'>
39170
24649428
78.98537145774827
81.87784018381414
74.98
85.81

In [4]:

schools_unique = school_data_complete["school_name"].nunique()
schools_unique

# count of total students
student_count = school_data_complete["Student ID"].nunique()
print(student_count)

budget = school_data["budget"].sum()
print(budget)

avg_math = school_data_complete["math_score"].mean()
print(avg_math)

avg_reading = school_data_complete["reading_score"].mean()
print(avg_reading)

# Percent passed - math
count_variable=student_data[(student_data['math_score'] >= 70)].count()['student_name']
percentage_passed_math=count_variable/student_data.count()['student_name'] 
print(round(percentage_passed_math*100,2)) 

# Percent passed - reading
count_variable=student_data[(student_data['reading_score'] >= 70)].count()['student_name']
percentage_passed_reading=count_variable/student_data.count()['student_name'] 
print(round(percentage_passed_reading*100,2))

# Percent passed - overall
math_reading_passed = ((student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70))
percent_passed_overall = round((sum(math_reading_passed)/student_count*100),2)
print(percent_passed_overall)

39170
24649428
78.98537145774827
81.87784018381414
74.98
85.81
65.17

In [5]:
summary_df = pd.DataFrame({"Total Schools": [schools_unique],
                              "Total Students": [student_count],
                              "Total Budget": [budget],
                              "Average Math Score": [avg_math],
                              "Average Reading Score": [avg_reading],
                              "% Passing Math": [percentage_passed_math],
                              "% Passing Reading": [percentage_passed_reading],
                              "% Overall Passing": [percent_passed_overall]})
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [48]:

df = school_data_complete[["school_name", "budget"]]
school_sum1_df = df.set_index("school_name")

school_budget_df = school_data.groupby(["school_name"])["budget"].sum()
print("total school budget")
print(school_budget_df.head())
print(type(school_budget_df))
summary3=school_budget_df.tolist()
print('--------------------------------')
print(' ')

print('per student budget')
budget_student =pd.concat([school_budget_df,school_total_students_df],axis=1)
budget_student['per_student_budget'] = budget_student['budget']/budget_student['student_name']
summary4=budget_student['per_student_budget'].tolist()
print(budget_student)
print(budget_student)
print('--------------------------------')
print(' ')
print('average math score')
avg_math_school = school_data_complete.groupby(["school_name"])["math_score"].mean()
print(avg_math_school.head())
summary5=avg_math_school.tolist()
print('--------------------------------')
print(' ')

print('average reading score')
avg_reading_school = school_data_complete.groupby(["school_name"])["reading_score"].mean()
print(avg_reading_school.head())
summary6=avg_reading_school.tolist()

total school budget
school_name
Bailey High School      3124928
Cabrera High School     1081356
Figueroa High School    1884411
Ford High School        1763916
Griffin High School      917500
Name: budget, dtype: int64
<class 'pandas.core.series.Series'>
--------------------------------

per student budget
                        budget  student_name  per_student_budget
school_name
Bailey High School     3124928          4976               628.0
Cabrera High School    1081356          1858               582.0
Figueroa High School   1884411          2949               639.0
Ford High School       1763916          2739               644.0
Griffin High School     917500          1468               625.0
Hernandez High School  3022020          4635               652.0
Holden High School      248087           427               581.0
Huang High School      1910635          2917               655.0
Johnson High School    3094650          4761               650.0
Pena High School        585858           962               609.0
Rodriguez High School  2547363          3999               637.0
Shelton High School    1056600          1761               600.0
Thomas High School     1043130          1635               638.0
Wilson High School     1319574          2283               578.0
Wright High School     1049400          1800               583.0
                        budget  student_name  per_student_budget
school_name
Bailey High School     3124928          4976               628.0
Cabrera High School    1081356          1858               582.0
Figueroa High School   1884411          2949               639.0
Ford High School       1763916          2739               644.0
Griffin High School     917500          1468               625.0
Hernandez High School  3022020          4635               652.0
Holden High School      248087           427               581.0
Huang High School      1910635          2917               655.0
Johnson High School    3094650          4761               650.0
Pena High School        585858           962               609.0
Rodriguez High School  2547363          3999               637.0
Shelton High School    1056600          1761               600.0
Thomas High School     1043130          1635               638.0
Wilson High School     1319574          2283               578.0
Wright High School     1049400          1800               583.0
--------------------------------

average math score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64
--------------------------------

average reading score
school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [45]:
#  % passing math
school_passing_math=school_data_complete.loc[school_data_complete["math_score"]<=70]
school_passing_math
school_passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70]
spm1 = school_passing_math.groupby(["school_name"])["student_name"].count()
spm2 =pd.concat([spm1,school_total_students_df],axis=1)
#rename columns
spm2.set_axis(['passed math', 'total students'], axis='columns', inplace=True)
spm2['Percent Passing Math'] = spm2['passed math']/spm2['total students']
spm3 = round(spm2['Percent Passing Math'],5)*100
summary7 = spm3.tolist()

In [42]:
#  % passing reading
school_passing_reading=school_data_complete.loc[school_data_complete["reading_score"]<=70]
school_passing_reading
school_passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70]
spm3 = school_passing_reading.groupby(["school_name"])["student_name"].count()
spm4 =pd.concat([spm1,school_total_students_df],axis=1)
#rename columns
spm4.set_axis(['passed reading', 'total students'], axis='columns', inplace=True)
spm4['Percent Passing Reading'] = spm4['passed reading']/spm2['total students']
spm5 = round(spm4['Percent Passing Reading'], 5)*100
summary8 = spm5.tolist()

In [37]:

# Percent Overall Passed both Reading and Math
pop1 = student_data.loc[(student_data["math_score"] >= 70) & (
    student_data["reading_score"] >=70), :]
pop2 = pop1.groupby(['school_name'])['reading_score'].count()
# Make dataframe from series
pop3 =pd.concat([pop2,school_total_students_df],axis=1)
# rename columns
pop3.set_axis(['passed both', 'total students'], axis='columns', inplace=True)
# create new column and calculate percentage overall passed
pop3['percent passing both'] = pop3['passed both']/pop3['total students']
pop4 = round(pop3['percent passing both'], 5)*100
summary9 = pop4.tolist()

In [70]:
df = school_data_complete[['school_name', 'type']]
df1 = df.drop_duplicates()
df2 = df1.sort_values(['school_name'])

summary0 = df2['school_name'].tolist()
summary1 = df2['type'].tolist()

summary2 = school_total_students_df.tolist()

In [61]:
#Create summary school dataframe

summary1_df = pd.DataFrame({"School Name": summary0,
                              "School Type": summary1,
                              "Total Students": summary2,
                              "Total School Budget": summary3,
                              "Per Student Budget": summary4,
                              "Average Math Score": summary5,
                              "Average Reading Score": summary6,
                              "% Passing Math": summary7,
                              "% Passing Reading": summary8,
                              "% Overall Passing": summary9})


summary1_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680,66.680,54.642
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133,94.133,91.335
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988,65.988,53.204
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.310,68.310,54.290
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392,93.392,90.599
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.753,66.753,53.528
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.506,92.506,89.227
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.684,65.684,53.514
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.058,66.058,53.539
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.595,94.595,90.541
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.367,66.367,52.988
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867,93.867,89.892
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272,93.272,90.948
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.868,93.868,90.583
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333,93.333,90.333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [67]:
# This is just a sort in the right direction. (Day 2 activity 8)

Top_Performing_df = summary1_df.sort_values(by='% Overall Passing', ascending=False)
Top_Performing_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133,94.133,91.335
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272,93.272,90.948
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392,93.392,90.599
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.868,93.868,90.583
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.595,94.595,90.541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [69]:
Bottom_Performing_df = summary1_df.sort_values(by='% Overall Passing', ascending=True)
Bottom_Performing_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.367,66.367,52.988
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988,65.988,53.204
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.684,65.684,53.514
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.753,66.753,53.528
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.058,66.058,53.539

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [108]:

Ninth_df = school_data_complete.loc[school_data_complete['grade'] == '9th']
Ninth_df2 = Ninth_df[['school_name','math_score']].copy()
Ninth_df3 = Ninth_df2.groupby('school_name')['math_score'].mean()

Tenth_df = school_data_complete.loc[school_data_complete['grade'] == '10th']
Tenth_df2 = Tenth_df[['school_name','math_score']].copy()
Tenth_df3 = Tenth_df2.groupby('school_name')['math_score'].mean()

Eleventh_df = school_data_complete.loc[school_data_complete['grade'] == '11th']
Eleventh_df2 = Eleventh_df[['school_name','math_score']].copy()
Eleventh_df3 = Eleventh_df2.groupby('school_name')['math_score'].mean()

Twelth_df = school_data_complete.loc[school_data_complete['grade'] == '12th']
Twelth_df2 = Twelth_df[['school_name','math_score']].copy()
Twelth_df3 = Twelth_df2.groupby('school_name')['math_score'].mean()

math_scores_grade = pd.DataFrame({"9th": Ninth_df3,
                              "10th": Tenth_df3,
                              "11th": Eleventh_df3,
                              "12th": Twelth_df3})

math_scores_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [109]:

Ninth_df = school_data_complete.loc[school_data_complete['grade'] == '9th']
Ninth_df2 = Ninth_df[['school_name','reading_score']].copy()
Ninth_df3 = Ninth_df2.groupby('school_name')['reading_score'].mean()

Tenth_df = school_data_complete.loc[school_data_complete['grade'] == '10th']
Tenth_df2 = Tenth_df[['school_name','reading_score']].copy()
Tenth_df3 = Tenth_df2.groupby('school_name')['reading_score'].mean()

Eleventh_df = school_data_complete.loc[school_data_complete['grade'] == '11th']
Eleventh_df2 = Eleventh_df[['school_name','reading_score']].copy()
Eleventh_df3 = Eleventh_df2.groupby('school_name')['reading_score'].mean()

Twelth_df = school_data_complete.loc[school_data_complete['grade'] == '12th']
Twelth_df2 = Twelth_df[['school_name','reading_score']].copy()
Twelth_df3 = Twelth_df2.groupby('school_name')['reading_score'].mean()

reading_scores_grade = pd.DataFrame({"9th": Ninth_df3,
                              "10th": Tenth_df3,
                              "11th": Eleventh_df3,
                              "12th": Twelth_df3})

reading_scores_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [134]:
# Create bins in which to place values based upon average spending per student
bins = [0, 584, 629, 644, 650]

# Create labels for these bins
group_labels = ["0 to 585", "585 to 630", "630 to 645", "645 to 680"]
summary1_df["Spending Ranges (Per Student)"] = pd.cut(summary1_df["Per Student Budget"], bins, labels=group_labels).head()
variable=summary1_df.groupby(['Per Student Budget']).mean()['Average Math Score']

In [112]:
print(summary1_df["Per Student Budget"].max()) 
print(summary1_df["Per Student Budget"].min())

655.0
578.0

## Scores by School Size

* Perform the same operations as above, based on school size.

In [139]:
bins = [0, 999, 1999,4999]

# Create labels for these bins
group_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000"]

summary1_df["School Size"] = pd.cut(summary1_df["Total Students"], bins, labels=group_labels).head()

variable=summary1_df.groupby(['Total Students']).mean()['Average Math Score']

# Create a GroupBy object based upon "IMDB User Votes Group"
var111 = summary1_df.groupby("School Size")

# Find how many rows fall into each bin
print(var111["Average Reading Score"].count())

# Get the average of each of the first 5 rating columns within the GroupBy object
var111[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

School Size
Small (<1000)         0
Medium (1000-2000)    2
Large (2000-5000      3
Name: Average Reading Score, dtype: int64

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),NaN,NaN,NaN,NaN,NaN
Medium (1000-2000),83.206697,83.896269,93.762500,93.762500,90.967000
Large (2000-5000,76.954264,80.979413,66.992667,66.992667,54.045333

## Scores by School Type

* Perform the same operations as above, based on school type

In [145]:

sum_school_type = summary1_df.groupby("School Type")
sum_school_type[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620750,93.620750,90.432250
District,76.956733,80.966636,66.548571,66.548571,53.672143